<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Books</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_books}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="books-out">
			  	<div class="card-header">
			  		<h5 class="card-title">Books Out</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{books_out}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="books-in">
			  	<div class="card-header">
			  		<h5 class="card-title">Books In</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{books_in}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>